# [SUM, MAX, MIN](https://programmers.co.kr/learn/courses/30/parts/17043)

 - [최댓값 구하기](https://programmers.co.kr/learn/courses/30/lessons/59415)
 - [최솟값 구하기](https://programmers.co.kr/learn/courses/30/lessons/59038)
 - [동물 수 구하기](https://programmers.co.kr/learn/courses/30/lessons/59406)
 - [중복 제거하기](https://programmers.co.kr/learn/courses/30/lessons/59408)

### 최댓값 구하기
#### 문제 설명

ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

가장 최근에 들어온 동물은 언제 들어왔는지 조회하는 SQL 문을 작성해주세요.

In [ ]:
'''
-- 코드를 입력하세요
SELECT
    MAX (DATETIME)
FROM
    ANIMAL_INS;
'''

### 최솟값 구하기
#### 문제 설명

ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

동물 보호소에 가장 먼저 들어온 동물은 언제 들어왔는지 조회하는 SQL 문을 작성해주세요.

In [ ]:
'''
-- 코드를 입력하세요
SELECT
    MIN (DATETIME)
FROM
    ANIMAL_INS;
'''

### 동물 수 구하기
#### 문제 설명

ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

동물 보호소에 동물이 몇 마리 들어왔는지 조회하는 SQL 문을 작성해주세요.

In [ ]:
'''
-- 코드를 입력하세요
SELECT
    COUNT (ANIMAL_ID) 
FROM
    ANIMAL_INS
'''

### 중복 제거하기
#### 문제 설명

ANIMAL_INS 테이블은 동물 보호소에 들어온 동물의 정보를 담은 테이블입니다. ANIMAL_INS 테이블 구조는 다음과 같으며, ANIMAL_ID, ANIMAL_TYPE, DATETIME, INTAKE_CONDITION, NAME, SEX_UPON_INTAKE는 각각 동물의 아이디, 생물 종, 보호 시작일, 보호 시작 시 상태, 이름, 성별 및 중성화 여부를 나타냅니다.

동물 보호소에 들어온 동물의 이름은 몇 개인지 조회하는 SQL 문을 작성해주세요. 이때 이름이 NULL인 경우는 집계하지 않으며 중복되는 이름은 하나로 칩니다.

In [ ]:
'''
-- 코드를 입력하세요
SELECT
    COUNT(DISTINCT NAME)
FROM
    ANIMAL_INS
WHERE
    NAME IS NOT NULL
'''